h1{text-align:center;}

#grad1 {
 height: 1,000px;
  background-image: linear-gradient(#EBCB2E, white);
}
h2{text-align:center;
    
}

h3{text-align:center;
    
}

h2{color:black;
text-align:center;
 font-family:Tahoma new;
}

h3{color:black;
text-align:center;
 font-family:Garamond;
}

h5{color:white;
text-align:center;
 font-family:Tahoma new;
}


a:hover {
  background-color: yellow;
}



.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
}
.left {
    margin-left:auto;
}

.nav-link {
    color:white;
}

.nav-item {
    color:white;
}
}
#36C1FA

.80 {
   text-align:center; 
}

.lc {
    color:white;
}



img {
  border-radius: 50%;
}

.donut {
    margin-left:55px;
}

.floatright{float:center;margin-left:20px}

.70 {
    color:white;