h1{text-align:center;}

#grad1 {
 height: 950px;
  background-image: linear-gradient(lightgreen, lightblue);
}
h2{text-align:center;}

h3{text-align:center;}

h2{color:black;
text-align:center;
 font-family:Tahoma new;
}

h3{color:black;
text-align:center;
 font-family:Garamond;
}

.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
}


#36C1FA